.nav {
	margin: 0;
	color: #F8FDFF;
	list-style: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	text-shadow: .03em .03em rgba(46,43,50,.1);
	font-size: .98em;
	padding-top: 8vh;
	margin-left: 45vw;
}

.nav li {
	display: inline-block;
	padding: 0 0.7em 0 0.7em;
}

.nav li a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
	transition-timing-function: linear;
	}

#active {
	/* color: #71b6bd; */
	color: #A98640;
}

.nav li a:hover {
	/* color: #71b6bd; */
	color: #A98640;
}

.navLink::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	/* background: #71b6bd; */
	background: #A98640;
	transition: width .3s;
}

.navLink:hover::after {
	width: 100%;
	transition: width .3s;
}

#active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	/* background: #71b6bd; */
	background: #A98640;
}
